.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/misc.xml
.idea/.name
Fab-Lab-Scheduler.iml
.buildpath
.project
.settings
.idea/php.xml
application/tests/build/logs/junit.xml
application/tests/start_tests.bat
application/tests/build/logs/junit.xml